.App {
	color: white;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
.container {
	max-width: 1070px;
	padding: 0px 15px;
	margin: 0px auto;
}

nav {
	display: flex;
	justify-content: space-around;
	margin: 15px 0px;
}

/*? used by default with Nanav> a */
a{
	text-decoration: none;
}
.active,
nav > a {
	font-size: 4vw;
	font-weight: 300;
	cursor: default;
	text-decoration: none;
	padding: 0px 4.5vw;
	color: white;
	transition: 0.3s;
}

.active {
	font-weight: 700;
	transition: 0.1s;
}
.active:hover {
	color: white;
}
nav > a:hover {
	transform: scale(110%);
	color: rgb(255, 140, 0);
}

.sort{
	display: flex;
	align-items: center;
}
.sort > h2{
	color: white;
	margin: 0px 15px;
}
.sort > select{
	font-size: 20px;
	padding: 10px;
}
.courses {
	display: flex;
	flex-wrap: wrap;
}
.course {
	display: flex;
	flex-direction: column;
	flex: 30% 0 1;
	margin: 20px 1.5%;
	background: white;
	color: black;
	padding: 15px;
	border: 1px solid white;
	border-radius: 15px;
	transition: 0.1s;
}

.course:hover {
	transform: scale(110%);
}

.link {
	cursor: pointer;
}
.icoBackArrowLink{
	cursor: pointer;
	font-size: 5vw;
	color: white;
}
.icoBackArrowLink:hover{
	color: red;
}
.footer-course {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 15px;
}
.slug {
	display: inline-block;
	padding: 7px 15px;
	font-weight: 400;
	font-size: 2vmax;
	color: black;
	background: rgb(205, 201, 201);
	border-radius: 5px;
}
h2 {
	font-size: 2vmax;
	color: red;
}
p {
	font-size: 1.5vmax;
}
.course-body {
	flex: auto 1 1;
	text-align: justify;
	padding: 10px 0px 0px 5px;
}
.price {
	/* padding: 7px 15px; */
}
.discount {
	text-decoration: line-through red;
	color: black;
}

@media (max-width: 768px) {
	.course {
		flex: 48% 1 1;
		margin: 15px 1%;
		padding: 10px;
	}
	h2 {
		font-size: 3.5vw;
	}
	.slug {
		font-size: 3vw;
	}
	p {
		font-size: 2.5vw;
	}
}
@media (max-width: 500px) {
	.course {
		flex: auto 1 1;
		padding: 10px;
	}
	h2 {
		font-size: 5vw;
	}
	.slug {
		font-size: 4vw;
	}
	p {
		font-size: 3vw;
	}
}
.courses.singleCourse > .course {
	flex: auto 1 1;
	height: 80vh;
}
.courses.singleCourse > .course:hover {
	transform: none;
}

.courses.singleCourse  h2 {
	font-size: 5vw;
}
.courses.singleCourse  p {
	font-size: 3vmax;
}
